/* === Small CSS Reset === */
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  background: #f8f8f8;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.slider {
  position: relative;
  margin-top: 200px;
  width: 800px;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 16px;
}

.slider__slide {
  display: block;
  width: 100%;
  height: 100%;
  float: left;
}

.slider__slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__controls {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  padding: 0 16px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.slider__button {
  padding: 16px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  border: none;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.slider__legend {
  margin: 16px 0;
  padding: 0.4rem 0.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.slider__legend-title {
  color: #000000;
  font-size: 1.3rem;
}

.slider__legend-text {
  font-size: 1rem;
  color: #000000;
}

.slider__button:focus {
  outline: none;
}

.slider__button:hover {
  background: #f8f8f8;
  color: #232323;
  cursor: pointer;
}